 <form action="/contacto" method="post" class="formulario">
<p>
<label for="nombre" class="form-label">Nombre</label>
<input type="text" name="nombre"></p>
 
<p>
<label for="email" class="form-label">Emails</label>
<input type="text"name="email">
</p>
<p>
<label for="telefono" class="form-label">Telefono</label>
<input type="text"name="tel">
</p>
<p>
<label for="mensaje" class="form-label">Mensaje</label>
<textarea name="mensaie">"</textarea>
</p>
<p class="acciones"class="form-labelss"><input type="submit" value="Enviar"/></p>
</form>


<form class="row g-3 mx-auto" action="/" method="post">
        <div id="Registrate" class="col-md-6 scroll_sectcion">

            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="#Registrate" name="email">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputPassword4" name="nombre">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4" name="contraseña">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="telefono">
        </div>

        <div class="col-md-6">
            <label for="inputCity" class="form-label">Pais</label>
            <input type="text" class="form-control" id="inputCity" name="pais">
        </div>
       
        <div class="col-md-2">
            <label for="inputZip" class="form-label">CP</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Estoy de acuerdo
                </label>
            </div>
        </div>
        <div class="col-13 center">
            <button type="submit" class="btn btn-primary2">Enviar</button>
        </div>
    </form>