<link rel="stylesheet" href="/public/javascripts/Sitioweb2.js">
<div class="carousel-container ">
    <center>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"
                    class="active" aria-current="true"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="images/Mesa de trabajo 1 (1).png" class="d-block w-10 center border: 2px solid rgb(234, 151, 245);
             box-shadow: inset 0 0 5px purple,0 0 10px rgb(245, 7, 245);" alt="...">
                    <div class="testimonio">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="images/carrusel 2 - copia.png" class="d-block mx-auto border: 2px solid rgb(234, 151, 245);
             box-shadow: inset 0 0 5px purple,0 0 10px rgb(245, 7, 245);" alt="...">
                            <!-- Utilizamos "mx-auto" para centrar la imagen horizontalmente -->
                        </div>
                        <div class="col-lg-6 d-flex flex-column justify-content-center">
                            <!-- Utilizamos "flex-column" para colocar el contenido de testimonio en una columna -->
                            <div class="testimonio">
                                <h1 class="hola-estilos">Vende tus proyectos de forma,
                                    facil y sencilla!
                                </h1>
                                <h5 class="hola-2" style="color:black">Registrate y empeza a vender tu contenido </h5>
                                <p></p>
                                <button type="button" class="btn btn-primary mt-3" id="Empeszar">Empezar</button>
                                <!-- Agrega aquí el código para tu botón -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img src="images/Group 1 (6) (1).png" class="d-block w-10 center" alt="...">
                    <!--<h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p> -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>

    </center>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-ZYwKxMJ1Nj0zKTUoe/CBFrIZ/QR/X2IOEZRsdnCE6ys1/1pbb1egMkU1h1k1eBRD"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-DZ2+Z2X8LkSxe7eRNTuFnIu7uwGO4F/AQx8EKKdG5S+gTKzJBdjsy8sp4x1E2F5l"
    crossorigin="anonymous"></script>
     <script>
        function playAudio() {
            var audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.play();
        }

        function pauseAudio() {
            var audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.pause();
        }

        function stopAudio() {
            var audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.pause();
            audioPlayer.currentTime = 0;
        }
    </script>
</header>
<br>

<!-- Section-->



</div>
<section>
    
    <div class="container scroll_sectcion  justify-content-center">
        <div id="Registrate" class=" form-controls232 ">
        <h1>#Tendencias</h1>
        <section class="py-5">
            <div class="container px-0 px-lg-0 mt-0 max-width: 1500px  border: 2px red solid #c90e0e ;">
                <div id="Instrumentales"
                    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center red">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="\images\artworks-000116444297-573iob-t240x240.jpg" alt="..."
                                class="foto1" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->

                                    <audio id="audioPlayer" src="/images/Pagina web_DHT 1 - copia.mp3"type="audio/mpeg"></audio>
                                    <button class="play-button" onclick="playAudio()">
                                        <img src="/images/sound_sampler.png" alt="play">


                                        <div style="width: 100%; height: 100%; position: relative">
                                           
                                            
                                        </div>
                                    </button>
                                    <button class="pause-button" onclick="pauseAudio()">
                                        <img src="/images/pause_circle.png" alt="pause">

                                    </button>
                                    <button class="stop-button" onclick="stopAudio()">
                                        <img src="/images/stop_circle.png" alt="stop">
                                    </button>


                                    <h5 class="fw-bolder">Top 1°</h5>
                                    Sale
                                    $40.00 - $80.00
                                    <!-- <h1>Subir Archivo</h1>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Subir</button>

    <script src="upload.js"></script>-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-
                        0 border-top-0 bg-transparent">

                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
                                        options</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>

                            <!-- Product image-->
                            <img class="card-img-top" src="\images\artworks-000116444297-573iob-t240x240.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/images/Rectangle 34.png"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/images/Rectangle 36.png" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/images/Rectangle 38.png"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/images/Rectangle 39.png"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $120.00 - $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">


                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
                                        options</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    
</section>

</section>

<div>

    <div id="Registrate" class="container scroll_sectcion">

        <div class="form-controls2 justify-content-center">
            <form action="/" method="post" class="formulario">
                <div class="text-tendecia">
                    <h1>#Contactanos</h1>
                </div>

                <p>
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                </p>

                <p>
                    <label for "email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control">
                </p>
                <p>
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" name="telefono" id="telefono" class="form-control">
                </p>
                <p>
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" class="form-control"></textarea>
                </p>
                <p class="acciones" class="form-label"><input type="submit" class="btn btn-primary2" value="Enviar" />
                </p>
            </form>
            S
        </div>
        
    </div>



    <p>{{message}}</p>


</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>