<div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 30%;">
    
    <div class="card112">
     <div class="img">
         <img src="images/artworks-000116444297-573iob-t240x240.jpg" alt="asd">
         
     </div>
     <div class="content2">
         <h2>Michael Daniel</h2>
         <p>Carpintero de la web</p>
         <div class="center12">
             <div class="box12">
                 <h1>145</h1>
                 <p>Followers</p>
             </div>
             <div class="box12">
                 <h1>139</h1>
                 <p>Following</p>
             </div>
         </div>
         <button class="btn12">FOLLOW</button>
     </div>
 </div>

</div>
<h1>Perfil</h1>